S3method(classify,ab)
S3method(classify,default)
S3method(classify,ds)
S3method(classify,pt)
export(adaBoost)
export(classify)
export(classify.ab)
export(classify.default)
export(classify.ds)
export(classify.pt)
export(cost.01)
export(cost.mse)
export(cv.work)
export(decisionStump)
export(fakedata)
export(perceptrain)
import(MASS)
import(mvtnorm)
